Repository pdidev/pdi, changes with the owners that .github/CODEOWNERS names for each.
All owners: yushan.wang@cea.fr, julien.bigot@cea.fr, benoit.martin2@cea.fr

Fix #585 github action (CI) access issue of tests.xml, using an other folder 'tmp_dir_test' containing the tests output, rather than docker's tmpfs
  .github/actions/test/action.yml
Owners: benoit.martin2@cea.fr, julien.bigot@cea.fr

update v1.8 to pass the workflow pages (#586)
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  pdi/docs/Doxyfile
  pdi/docs/_template/header.html
Owners: benoit.martin2@cea.fr, julien.bigot@cea.fr, yushan.wang@cea.fr

add CMAKE_POLICY_VERSION_MINIMUM to 3.5 when building libyaml
  CMakeLists.txt
Owners: benoit.martin2@cea.fr, julien.bigot@cea.fr

add CMAKE_POLICY_VERSION_MINIMUM to 3.5 when building libyaml
  CMakeLists.txt
Owners: benoit.martin2@cea.fr, julien.bigot@cea.fr

update changelog and add comment
  CHANGELOG.md
  CMakeLists.txt
Owners: yushan.wang@cea.fr, julien.bigot@cea.fr, benoit.martin2@cea.fr

.github/CODEOWNERS:

#=============================================================================
# Copyright (C) 2025 Centre national de la recherche scientifique (CNRS)
# Copyright (C) 2025 Commissariat a l'énergie atomique et aux énergies alternatives (CEA)
# Copyright (C) 2025 Université Paris-Saclay
# Copyright (C) 2025 Université de Versailles Saint-Quentin-en-Yvelines (UVSQ)
#
# SPDX-License-Identifier: BSD-3-Clause
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
# * Neither the names of CEA, nor the names of the contributors may be used to
#   endorse or promote products derived from this software without specific
#   prior written  permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#=============================================================================

# Default owners, unless something else is specified
*  yushan.wang@cea.fr julien.bigot@cea.fr

# Owners of the Deisa plugin
plugins/deisa/  benoit.martin2@cea.fr julien.bigot@cea.fr

# Owners of the buildsystem & packaging stuff
cmake/          benoit.martin2@cea.fr julien.bigot@cea.fr
CMakeLists.txt  benoit.martin2@cea.fr julien.bigot@cea.fr
*.cmake         benoit.martin2@cea.fr julien.bigot@cea.fr
/spack.yaml     benoit.martin2@cea.fr julien.bigot@cea.fr
/PACKAGING.md   benoit.martin2@cea.fr julien.bigot@cea.fr

# Owners of the CI/CD stuff
/.github/  benoit.martin2@cea.fr julien.bigot@cea.fr
/bin/      benoit.martin2@cea.fr julien.bigot@cea.fr
/tools     benoit.martin2@cea.fr julien.bigot@cea.fr
